.DS_Store

node_modules
.env
!.env.example
coverage
coverage.json
typechain
typechain-types
yarn-error.log

# Hardhat files
cache
artifacts
.idea/

# Noir
circuits/proofs/
circuits/target/
crs/

# foundry
lib
out/Base.sol/CommonBase.json
out/Base.sol/ScriptBase.json
out/Base.sol/TestBase.json
out/Context.sol/Context.json
out/ERC20.sol/ERC20.json
out/IERC20.sol/IERC20.json
out/IERC20Metadata.sol/IERC20Metadata.json
out/IMulticall3.sol/IMulticall3.json
out/IWETH9.sol/IWETH9.json
out/RLPReader.sol/RLPReader.json
out/StdAssertions.sol/StdAssertions.json
out/StdChains.sol/StdChains.json
out/StdCheats.sol/StdCheats.json
out/StdCheats.sol/StdCheatsSafe.json
out/StdError.sol/stdError.json
out/StdInvariant.sol/StdInvariant.json
out/StdJson.sol/stdJson.json
out/StdMath.sol/stdMath.json
out/StdStorage.sol/stdStorage.json
out/StdStorage.sol/stdStorageSafe.json
out/StdStyle.sol/StdStyle.json
out/StdUtils.sol/StdUtils.json
out/Test.sol/Test.json
out/Vm.sol/Vm.json
out/Vm.sol/VmSafe.json
out/console.sol/console.json
out/console2.sol/console2.json
out/draft-IERC6093.sol/IERC20Errors.json
out/draft-IERC6093.sol/IERC721Errors.json
out/draft-IERC6093.sol/IERC1155Errors.json
out/plonk_vk-nullifierTest.sol/BaseUltraVerifier.json
out/plonk_vk-nullifierTest.sol/UltraVerificationKey.json
out/plonk_vk.sol/BaseUltraVerifier.json
out/plonk_vk.sol/UltraVerificationKey.json
out/plonk_vk.sol/UltraVerifier.json
out/safeconsole.sol/safeconsole.json
out/test.sol/DSTest.json
